# All hooks use makefile targets in order to ensure
# consistency with command line and git workflows
repos:
- repo: local
  hooks:
    -  id: flake8
       name: flake8
       entry: make cqa-flake8
       language: system
       types: [python]
    -  id: isort
       name: isort
       entry: make cqa-isort
       language: system
       types: [python]
    - id: ruff-format
      name: ruff format
      entry: make cqa-ruff-format
      language: system
